.signup-form-heading {
  background-color: white;
  font-size: 1.5em;
  font-weight: 200;
}



#back-to-enter-number {
  color: #0c831f;
  cursor: pointer;
  width: max-content;
}

#back-to-enter-number::before {
  color: #0c831f;
  content: "<";
}

.tos-privacy-links{
  color: #0c831f;
  text-decoration: underline;
}

.tos-privacy-links:hover {
  color: #0c831f;
  text-decoration: underline;
}

#resend-otp {
  color: #0c831f;
  text-decoration: underline;
  cursor: pointer;

}

#resend-otp:hover {
  text-decoration: none;
  cursor: pointer;
}

button {
  width: 300px;
  background-color: #459220;
  color: #fff;

}

.input-box {
  display: flex;
  align-items: center;
  background: #fff;
  border: 1px solid #a0a0a0;
  border-radius: 4px;
  padding-left: 0.5rem;
  overflow: hidden;
  font-family: sans-serif;
}

.input-box .prefix {
  font-weight: 300;
  font-size: 14px;
  color: #999;
}

.input-box input {
  flex-grow: 1;
  font-size: 14px;
  background: #fff;
  border: none;
  outline: none;
  padding: 0.5rem;
}

.input-box:focus-within {
  border-color: rgb(8, 8, 8);
}

.successful-heading {
  color: #0c831f;
  ;
}

.successful-tick {
  font-size: 2em;
}


#logInModalCenter{
  z-index: 1095;

}