.has-search .form-control {
    padding-left: 2.375rem;
    width: 200%;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.delivery-Time {
    font-weight: 900;

}

.delivery-Location {
    font-weight: 200;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.item-count::after{
    content: "items";
    font-size: 0.9em;
}